BasedOnStyle: LLVM  
IndentWidth: 2
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: Consecutive
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
ReflowComments: false
SortIncludes: false
